<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGS_PATH" value="./logs"/>
    <property name="LOGS_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOGS_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="PRODUCT_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_PATH}/business_product.log</file> <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>${LOGS_PATH}/business_product-%d{yyyy-MM-dd}.log</fileNamePattern>
        <maxHistory>30</maxHistory>
    </rollingPolicy>
        <encoder>
            <pattern>${LOGS_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="ORDER_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_PATH}/business_order.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_PATH}/business_order-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${LOGS_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="com.example.hanaro.service.ProductService" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="PRODUCT_LOG"/>
    </logger>

    <logger name="com.example.hanaro.service.OrderService" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ORDER_LOG"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>